@use './base' as *;

button {
  border: none;
  cursor: pointer;
  font-family: inter;
  font-weight: 500;
}

.primaryButton {
  background-color: $bg-btn;
  color: $text-btn;
  border-radius: 1.5rem;
  font-size: 1.6rem;
  width: 19.3rem;
  height: 5.2rem;
  margin: auto;
  transition: filter 0.2s;
}

.primaryButton:hover {
  filter: brightness(1.2);
}

.primaryButton--playAgain {
  margin: 0;
}

.answers-button {
  background-color: transparent;
  border: 0.1rem solid $text-answer-btn;
  border-radius: 1rem;
  padding: 0.6rem 2.5rem;
  color: $text;
  transition: background 0.2s;
}

.answers-button:hover {
  background-color: $bg-select-btn;
}

.answers-button--select {
  background-color: $bg-select-btn;
  border: 0.1rem solid $bg-select-btn;
  border-radius: 1rem;
  padding: 0.6rem 2.5rem;
  color: $text;
  transition: all 0.3s;
}

.answers-button--unselect {
  background-color: transparent;
  border: 0.1rem solid $bg-select-btn;
  border-radius: 1rem;
  padding: 0.6rem 2.5rem;
  color: $text;
  opacity: 0.6;
}

.quote {
  opacity: 0;
  animation: showQuote 1s 2s forwards;
  margin: 2rem;
  &__text {
    width: 50rem;
  }
  &__author {
    font-weight: bolder;
  }
}

@keyframes showQuote {
  100% {
    opacity: 1;
  }
}

.difficulty__tittle {
  margin: 2rem 0;
  width: fit-content;
  align-self: center;
  border-bottom: 0.1rem solid $text;
  animation: difficulty 1s 1s forwards;
  opacity: 0;
}

.difficulty__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  animation: difficulty 1s 1.2s forwards;
  opacity: 0;

  .difficulty__radioBtn {
    appearance: none;
    background-color: #fff;
    margin: auto;
    width: 3rem;
    height: 3rem;
    border: 0.15em solid $text-answer-btn;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
    margin-bottom: 0.5rem;
  }

  .difficulty__radioBtn::before {
    content: '';
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: $bg-btn;
  }

  .difficulty__radioBtn:checked::before {
    transform: scale(1);
  }

  .difficulty__name {
    font-family: inter;
    color: $text;
    font-size: 1.5rem;
  }
}

@keyframes difficulty {
  100% {
    opacity: 1;
  }
}
