@use './base' as *;

button {
  border: none;
  cursor: pointer;
  font-family: inter;
  font-weight: 500;
}

.primaryButton {
  background-color: $bg-btn;
  color: $text-btn;
  border-radius: 1.5rem;
  font-size: 1.6rem;
  width: 19.3rem;
  height: 5.2rem;
  margin: auto;
  transition: filter 0.2s;
}

.primaryButton:hover {
  filter: brightness(1.2);
}

.primaryButton--playAgain {
  margin: 0;
}

.answers-button {
  background-color: transparent;
  border: 0.1rem solid $text-answer-btn;
  border-radius: 1rem;
  padding: 0.6rem 2.5rem;
  color: $text;
  transition: background 0.2s;
}

.answers-button:hover {
  background-color: $bg-select-btn;
}

.answers-button--select {
  background-color: $bg-select-btn;
  border: 0.1rem solid $bg-select-btn;
  border-radius: 1rem;
  padding: 0.6rem 2.5rem;
  color: $text;
  transition: all 0.3s;
}

.answers-button--unselect {
  background-color: transparent;
  border: 0.1rem solid $bg-select-btn;
  border-radius: 1rem;
  padding: 0.6rem 2.5rem;
  color: $text;
  opacity: 0.6;
}

.quote {
  opacity: 0;
  animation: showQuote 1s 2s forwards;
  margin: 2rem;
  &__text {
    width: 50rem;
  }
  &__author {
    font-weight: bolder;
  }
}

@keyframes showQuote {
  100% {
    opacity: 1;
  }
}
