@use "./base" as *;

// Bg Images

.bg__image {
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: -100;
}

.img__top {
  background-image: url(../images/bg-blob-top.png);
  background-position: top right;
}

.img__bot {
  background-image: url(../images/bg-blob-bot.png);
  background-position: bottom left;
}

// Start

.Start {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__description {
    margin: 0.7rem 0 3rem;
  }
}

// Questions

.form_container {
  display: flex;
  flex-direction: column;
}

.questions__container {
  max-width: 70rem;
  padding: 1.5rem 0 2rem;
  border-bottom: 0.1rem solid #dbdef0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.answers__container {
  display: flex;
  gap: 3rem;
}

.primaryButton--check {
  margin-top: 3rem;
  justify-self: center;
}
