@use './base' as *;

// Bg Images

.bg__image{
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: -100;
}

.img__top{
  background-image: url(../images/bg-blob-top.png);
  background-position: top right;
}

.img__bot{
  background-image: url(../images/bg-blob-bot.png);
  background-position: bottom left;
}

// Start

.Start{
  display: flex;
  flex-direction: column;
  text-align: center;

  &__description{
    margin: 0.7rem 0 3rem;
  }

  &__btn{
    width: 19.3rem;
    height: 5.2rem;
    margin: auto;
  }
}

